
/* Mixin's */ 

/*@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin clear {
  &:after {
      content: "";
      display: table;
      clear: both;
    }
}

 @mixin box-size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 @mixin transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@mixin fade {
  -moz-transition: all 1s ease-in;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

@mixin opacity {
  opacity:0.4;
  filter:alpha(opacity=40); 
  @include fade;
}

@mixin corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius; 
  -khtml-border-radius: $radius; 
}
*/

body {
  background:#78e3de;
  background: url(../images/BG.png) no-repeat center center fixed;
  background-size: cover;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color:#fff;
  height:100%;
  text-align:center;
  font-size:18px;
}


#timer {
  font-size: 22px;
  font-weight: bold;
  color:#000;
}

#question_div {
  font-size: 23px;
  font-family: garamond;
  margin: 15px 0 0 0;
}

#choices_div {
  padding: 5px;
}

#choices_div button {
  background: #1b7cc8;
}

.wrappper{
  @include clear;
  width:50%;
  background:#218ff4;
  text-align:center;
  margin:0 auto;
}


canvas{
  color:#fff;
  border: #fff dashed 2px;
  padding:15px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 28px;
  padding-top: 30px;
  font-family: garamond;
}

p{
  font-size: 1.6em;
}



button {
  @include corners (5px);
  background:$base-color;
  color:#fff;
  border: solid 1px #fff;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
}

button:hover{
      @include transition;
      background:#fff;
      border: solid 1px #fff;
      color:#1bbeff;
    }
}

@media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }